<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: blanchedalmond;
        }
        .three
        {
            background-color: aqua;
        }
        #one
        {
            background-color: burlywood;
        }
        .two
        {
            background-color: bisque;
        }

    </style>
</head>
<body>
    <center>
        <h1 id="one">DEPT TABLE</h1>
        <table border="3px">
        <tr class="two">
            <th>DEPTNO</th>
            <th>DNAME</th>
            <th>DLOC</th>
        </tr>
        {% for i in dept %}
        <tr class="three">
            <td>{{ i.DEPTNO }}</td>
            <td>{{ i.DNAME }}</td>
            <td>{{ i.DLOC }}</td>
        </tr>
        {% endfor %}
         </table>
    </center>
    
</body>
</html>