<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #three
        {
            background-color: aqua;
        }
        .one
        {
            background-color: burlywood;
        }
        .two
        {
            background-color: bisque;
        }

    </style>
</head>
<body>
    <center>
        <h1 id="three">EMP TABLE</h1>
        <table>
            <tr class="one">
                <th>EMPNO</th>
                <th>ENAME</th>
                <th>JOB</th>
                <th>MGR</th>
                <th>HIREDATE</th>
                <th>SAL</th>
                <th>COMM</th>
                <th>DEPTNO</th>
            </tr>
            {% for i in emp %}
            <tr class="two">
                <td>{{ i.EMPNO}}</td>
                <td>{{ i.ENAME}}</td>
                <td>{{ i.JOB}}</td>
                <td>{{ i.MGR}}</td>
                <td>{{ i.HIREDATE}}</td>
                <td>{{ i.SAL}}</td>
                <td>{{ i.COMM}}</td>
                <td>{{ i.DEPTNO}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>